nav img{
    width :120px
}

nav{
    background-color:#f2ff7f;
    padding: 30px;
}

/* .rightShift{
    float: right;
    list-style-type: none;
} */

.inLine{
    display:inline-flex;
    /* padding: 10px */
}

img{
    width: fit-content;
    height: fit-content;
}

/* div label{
    display:list-item;
    padding: 2px;
}

label{
    color: brown;
} */