<app-header></app-header>
<fieldset style="background-color: rgba(147, 160, 95, 0); float:inherit">
  <div>
    <label>Panel List :</label>
    <label>
      <input type="radio" value="byDate" name="panelList" (click)="radioChangeHandler($event)">
      By Date
    </label>
    <label>
      <input type="radio" value="byMgr" name="panelList" (click)="radioChangeHandler($event)">
      By Manager
    </label>
  </div>
</fieldset>


<br><br>

<!-- <div *ngIf="radioValue=='byDate' then ifBlock else elseBlock"></div> -->

<ng-template [ngIf]="radioValue=='byDate'">
  <br><br>
  <!-- <table cellspacing="0" border="1"></table> -->
  <table cellspacing="0" border="1">
    <tr>
      <td><label>Date From</label></td>
      <td><input  type="date" name="datefrom" placeholder="Enter Date From" #box1></td>
    </tr>
    <tr>
      <td><label>Date To</label></td>
      <td><input  type="date" name="dateto" placeholder="Enter Date To" #box2></td>
    </tr>
    <tr>
      <button (click)="getData(box1.value, box2.value)">Get Report</button>
    </tr>
  </table>
  <p style="color: red;">{{errorMsg}}</p>

  <br><br>

  <table cellspacing="0" border="1">
    <tr>
      <th>Panel Name</th>
      <th>Skills</th>
      <th>Manager Name</th>
    </tr>
    <tr *ngFor="let data of availData">
      <td>{{data.panel_Name}}</td>
      <td>{{data.skills}}</td>
      <td>{{data.manager_Name}}</td>
    </tr>
  </table>
</ng-template>

<ng-template [ngIf]="radioValue=='byMgr'">

  <label>Managers List : </label>
  <select #selTag (change)="getPanelByMultipleMgrs()" [(ngModel)]="selectedMgr" multiple>
    <option default>Select Manager</option>
    <option *ngFor="let data of item" value="{{data.managerId}}">{{data.managerName}}</option>
  </select>
  <br>
  
  <!-- <ul>
    <li *ngFor="let mgrs of selectedMgr">{{mgrs}}</li>
  </ul> -->

  <br>
  <p *ngIf="panelList == '' then ifBlock else elseBlock"></p>
  <ng-template #ifBlock>
    <p style="color: red;">
      No Panel Available
    </p>
  </ng-template>
  <ng-template #elseBlock>
    <table cellspacing="0" border="1" id="excel-table">
      <tr>
        <th>Panel Name</th>
        <th>Available From</th>
        <th>Available To</th>
        <th>Email Id</th>
        <th>Skills</th>
      </tr>
      <tr *ngFor="let data of panelList">
        <td>{{data.panelName}}</td>
        <td>{{data.availableFrom}}</td>
        <td>{{data.availableTo}}</td>
        <td>{{data.emailId}}</td>
        <td>{{data.skills}}</td>
      </tr>

    </table>
    <button (click)="exportexcel()">Export To Excel</button>
  </ng-template>

</ng-template>