<app-header></app-header>
<fieldset style="background-color:violet; float:inherit">
  <div>
    <label>Panel List :</label>
    <label>
      <input type="radio" value="byDate" name="panelList" (click)="radioChangeHandler($event)">
      By Date
    </label>
    <label>
      <input type="radio" value="byMgr" name="panelList" (click)="radioChangeHandler($event)">
      By Manager
    </label>
  </div>
</fieldset>


<br>

<ng-template [ngIf]="radioValue=='byDate'">
  <table class="table-responsive" cellspacing="5" border="2">
    <tr>
      <td><label>Date From</label></td>
      <td><input type="date" name="datefrom" placeholder="Enter Date From" #box1></td>
    </tr>
    <tr>
      <td><label>Date To</label></td>
      <td><input type="date" name="dateto" placeholder="Enter Date To" #box2></td>
    </tr>
  </table>
  <button type="button" class="btn btn-outline-primary" (click)="getData(box1.value, box2.value)" align="center">Get
    Report</button>
  <p style="color: red;">{{errorMsg}}</p>
  <ng-template [ngIf]="availData !=''">
    <table class=" table-bordered table-responsive " border="2" cellpadding="8">
      <tr>
        <th>Panel Name</th>
        <th>Skills</th>
        <th>Available From</th>
        <th>Available To</th>
        <th>Manager Name</th>
      </tr>
      <tr *ngFor="let data of availData | paginate: {itemsPerPage:10, currentPage: this.currentPage}">
        <td>{{data.panel_Name}}</td>
        <td>{{data.skills}}</td>
        <td>{{data.available_From}}</td>
        <td>{{data.available_To}}</td>
        <td>{{data.manager_Name}}</td>

      </tr>
    </table>
    <button (click)="currentPage = currentPage-1" [disabled]="currentPage === 1">Previous</button>
    <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === 1">Next</button>
  </ng-template>







</ng-template>

<ng-template [ngIf]="radioValue=='byMgr'">

  <label for="managers">Select Manager : </label>
  <select #selTag (change)="getPanelByMultipleMgrs()" [(ngModel)]="selectedMgr" multiple>
    <!-- <option selected>Select Manager</option> -->
    <!-- <option selected="selected">Select Manager</option> -->
    <!-- <option value="starter" selected>Select Manage </option> -->
    <!-- <optgroup label="Select Manager"> -->
      <!-- <option value="audi" selected>Select Manager</option> -->
    <option *ngFor="let data of item" value="{{data.managerId}}">{{data.managerName}}</option>
  </select>

  Note : You can select multiple managers by pressing ctrl
  <br>

  <!-- <ul>
    <li *ngFor="let mgrs of selectedMgr">{{mgrs}}</li>
  </ul> -->

  <br>
  <p *ngIf="panelList == '' then ifBlock else elseBlock"></p>
  <ng-template #ifBlock>
    <table>
      <tr *ngFor="let data of mgrNames">
        <td style="color: red;">
          {{mgrNotAvailMsg}} {{data.managerName}}
        </td>
      </tr>
    </table>

  </ng-template>
  <ng-template #elseBlock>
    <table class=" table-bordered table-responsive " border="2" cellpadding="8" id="excel-table">
      <tr>
        <th>Panel Name</th>
        <th>Available From</th>
        <th>Available To</th>
        <th>Email Id</th>
        <th>Skills</th>
        <th>ManagerName</th>
      </tr>
      <tr *ngFor="let data of panelList | paginate: {itemsPerPage:10, currentPage: this.currentPage}">
        <td>{{data.panel_Name}}</td>
        <td>{{data.available_From}}</td>
        <td>{{data.available_To}}</td>
        <td>{{data.email_Id}}</td>
        <td>{{data.skills}}</td>
        <td>{{data.manager_Name}}</td>
      </tr>

    </table>
    <button (click)="currentPage = currentPage-1" [disabled]="currentPage === 1">Previous</button>
    <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">Next</button>
    <button type="button" class="btn btn-outline-primary" (click)="exportexcel()">Export To Excel</button>
  </ng-template>

</ng-template>